@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";
/* Adding the Custom color */
@theme {
  --color-primary: #5f6fff;
}
* {
  font-family: "Outfit", sans-serif;
}
.active hr {
  @apply block;
}
::-webkit-scrollbar {
  @apply hidden;
}
@layer utilities {
  .gridTemplateColumn {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
